/* Generally used the following order within styling throughout
width
height
display
position
flex
direction
wrap
justify-content
align-content
align-items
column-gap
text-align
font-family
font-size
font-weight
padding
border
margin
color
background-color
opacity
cursor
anything else */

/* for flex boxes and alignment throughout I used the following references
I'm not citing specific examples because I combined learnings from many of them 
and built upon that learning as I progressed through the assignment. 
I didn't necessarily used specific code chunks for a specific section */
/* https://www.w3schools.com/css/css3_flexbox.asp
https://css-tricks.com/guides/
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox#nested_flex_boxes
https://stackoverflow.com/questions/69852513/100-total-width-for-flex-items-in-flex-container-with-gap-inbetween
https://stackoverflow.com/questions/38896055/how-to-center-align-a-flexbox-container  */


/* Got this from css lecture */
* {
  box-sizing: border-box;
  font-family: "Itim", sans-serif;
  /* max-width: 1300px; */
}

/* Referenced css lecture */
/* body { */
  /* width: 1400px;
  height: 1000px;
  font-family: sans-serif;
  font-size: 14px; */
  /* margin: 50px; */
  /* color: black;
  background-image: url("../../../public/assets/cards/Background_Image_Play.png"); */
/* } */

body {
  background-color: #018E8E;
}

.HomePage{
  width: 100%;
  height: 100%;
  position:relative;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-image: url("../../../public/assets/MojiMatchHome_AdjustedAgain4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #018E8E;
  background-position: center top;
  margin: 0;
  padding: 0;
}

/* .section{
  width: 60%;
  position:absolute;
  left: 1;
  bottom: 0;
  top: 0;
  right: 0;

  background-image: url("../../../public/assets/Union.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: yellow;
  background-position: center top;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
} */

/* Styling for roll card holder */
/* .rollcard-list {
  width: calc(100% - 100px);
  left: 670px;
  top: 100px;
  position: relative;
  background-image: url("../../../public/assets/Union.png"); */
  /* width: 40%; */
  /* width: 3000px; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 0px 0px;
  background-color: green; */
  /* perspective: 1000px; */
/* } */

.match_message {
  width: 40%;
  height: 20%;
  position: absolute;
  top: 40%;
  right: 10%;
  font-size: 5vw;
  padding: 2.5% 0% 0% 0%;
  color: #018E8E;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  /* color: white; */
  /* box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5); */
  background-image: url("../../../public/assets/Match_Message.png");
  opacity: .9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 3;

}

.win_message {
  width: 40%;
  height: 20%;
  position: absolute;
  top: 8%;
  right: 10%;
  font-size: 5vw;
  padding: 2.5% 0% 0% 0%;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  /* color: white; */
  /* box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5); */
  /* background-image: url("../../../public/assets/Match_Message.png");
  opacity: .9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom; */
  z-index: 2;

}


.winning_squid{
  width: 80%;
  position: relative;
  top: 0%;
  right: 0%;
  transform: rotate(-90deg);
}

/* Styling for roll card holder */
.rollcard-list {
  width: 60%;
  height: 57.6vw;
  left: 40%;
  top: 0;
  bottom: 0;
  right: 0;
  position: relative;
  background-image: url("../../../public/assets/Union.png");
  /* width: 40%; */
  /* width: 3000px; */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  margin: 0;
  /* padding: 20px; */
  column-gap: 3%;
  row-gap: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0% 0% 0% 0%;
  /* background-color: yellow; */
  padding: 3.5% 7% 7% 7%;
  /* border: solid 5px black; */
  /* perspective: 1000px; */
}

/* .HomePage{
  width: 200%;
  background-image: url("../../../public/assets/cards/Background_Image_Play.png");
  background-color: aquamarine;
} */

/* .Outside{
  width: 3000px;
  background-image: url("../../../public/assets/cards/Background_Image_Play.png");
  background-color: aquamarine;
} */

/* https://www.w3schools.com/howto/howto_css_pill_button.asp */
/* https://www.w3schools.com/csS/css3_shadows_box.asp */
/* https://stackoverflow.com/questions/5458716/is-it-possible-to-set-transparency-in-css3-box-shadow */

.help_button {
  width: 15%;
  height: 4%;
  position: absolute;
  top: 92%;
  right: 70%;
  font-size: 1.5vw;
  border: none;
  border-radius: 16px;
  background-color: #018E8E;
  color: white;
  box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5);
}

.back_to_menu_button{
  width: 40%;
  height: 40%;
  position: absolute;
  top: 370%;
  right: 29%;
  font-size: 2vw;
  border: none;
  border-radius: 16px;
  background-color: white;
  color:#018E8E;
  box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5);
}

.menu_button {
  width: 30%;
  height: 14%;
  position: absolute;
  top: 5%;
  right: 69%;
  font-size: 4vw;
  color: #018E8E;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  /* color: white; */
  /* box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5); */
  background-image: url("../../../public/assets/Menu_Button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

}


.matches_counter_small {
  width: 30%;
  height: 17%;
  position: absolute;
  top: 22%;
  right: 69%;
  font-size: 3vw;
  color: #018E8E;
  border: none;
  padding: 1% 0% 0% 0%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  /* margin: 1% 1% 1% 10%; */
  /* color: white; */
  /* box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5); */
  background-image: url("../../../public/assets/Match_Background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

}

.expand_button {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 56%;
  right: -11%;
  color: #018E8E;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  /* color: white; */
  /* box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5); */
  background-image: url("../../../public/assets/Expand_Button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

}

.matches_counter_expanded {
  width: 39%;
  height: 39%;
  position: absolute;
  top: 15%;
  right: 59%;
  font-size: 3vw;
  color: #018E8E;
  border: none;
  padding: 5% 0% 0% 0%;
  background-color: rgba(0, 0, 0, 0);
  /* margin: 1% 1% 1% 10%; */
  /* color: white; */
  /* box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5); */
  background-image: url("../../../public/assets/Match_Background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */

}

.matches_made_holder {
  /* background-color: yellow; */
  width: 80%;
  height: 40%;
  /* height: 10px; */
  display:flex;
  flex-direction: row;
  column-gap: 2%;
  /* flex: 1 0 16%; */
  /* justify-content: ; */
}

.minimize_button {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 60%;
  right: -6%;
  color: #018E8E;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  /* color: white; */
  /* box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5); */
  background-image: url("../../../public/assets/Minimize_Button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.help_message{
  width: 64%;
  height: 47%;
  position: absolute;
  top: 51%;
  right: 46%;
  font-size: 3vw;
  color: white;
  border: none;
  padding: 5% 0% 0% 0%;
  background-color: rgba(0, 0, 0, 0);
  /* margin: 1% 1% 1% 10%; */
  /* color: white; */
  /* box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5); */
  background-image: url("../../../public/assets/Instructions_Background2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
}

.winning_text{
  position: absolute;
  top: 180%;

}

.match_locker{
    width: 60%;
    height: calc(.57 * 100vw);
    opacity: 0;
    left: 40%;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    /* width: 40%; */
    /* width: 3000px; */
    margin: 0;
    /* padding: 20px; */
    column-gap: 3%;
    row-gap: 10%;
    padding: 3% 7% 7% 7%;
    /* border: solid 5px black; */
    /* perspective: 1000px; */
    z-index: 4;
  }

  .close_button {
    width: 15%;
    height: 15%;
    position: relative;
    top: 60%;
    right: 0;
    /* color: #018E8E; */
    border: none;
    background-color: rgba(0, 0, 0, 0);
    /* color: white; */
    /* box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5); */
    background-image: url("../../../public/assets/X_Button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .music_button_true {
    width: 6%;
    height: 6%;
    position: absolute;
    top: 91.4%;
    right: 64%;
    color: #018E8E;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    /* color: white; */
    /* box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5); */
    background-image: url("../../../public/assets/Music_Button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  
  }

  .music_button_false {
    width: 6%;
    height: 6%;
    position: absolute;
    top: 91.4%;
    right: 64%;
    color: #018E8E;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    /* color: white; */
    /* box-shadow: .2vw .2vw .2vw rgba(0, 0, 0, 0.5); */
    background-image: url("../../../public/assets/No_Music_Button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  
  }

