/* Generally used the following order within styling throughout
width
height
display
position
flex
direction
wrap
justify-content
align-content
align-items
column-gap
text-align
font-family
font-size
font-weight
padding
border
margin
color
background-color
opacity
cursor
anything else */

/* Sets width for each roll listing (and associated image) */
.cart_roll_holder, .product_image.cart_image {
  width: 150px;
}

/* Sets margin for roll image and caption */
.cart_roll_figure {
  margin:0px 0px 0px 0px;
}

/* Makes the "The cart is empty!" bold */
.price_cart_text {
  font-weight: 900;
}

/* Stylying for the remove buttons so they look like just underlined text */
.remove_button {
  font-size: 10pt;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  text-decoration: underline;
}