/* Generally used the following order within styling throughout
width
height
display
position
flex
direction
wrap
justify-content
align-content
align-items
column-gap
font-family
font-size
font-weight
padding
border
margin
color
background-color
opacity
cursor
anything else */

/* for flex boxes and alignment throughout I used the following references
I'm not citing specific examples because I combined learnings from many of them 
and built upon that learning as I progressed through the assignment. 
I didn't necessarily used specific code chunks for a specific section */
/* https://www.w3schools.com/css/css3_flexbox.asp
https://css-tricks.com/guides/
https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox#nested_flex_boxes
https://stackoverflow.com/questions/69852513/100-total-width-for-flex-items-in-flex-container-with-gap-inbetween
https://stackoverflow.com/questions/38896055/how-to-center-align-a-flexbox-container  */

/* Got this from css lecture */
* {
  box-sizing: border-box;
  max-width: 1200px;
}

/* Referenced css lecture */
body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 50px;
  color: black;
}

/* /* Used the following source for help with setting just top and bottom borders
https://www.w3schools.com/cssref/pr_border-top.php */
/* Used this source to help find the hex code I wanted::afterhttps://colors.artyclick.com/color-names-dictionary/color-names/brownish-grey-color#:~:text=The%20color%20Brownish%20Grey%20corresponds,Green%2C%20and%2037%25%20Blue. */
.cart_holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 50px;
  row-gap: 50px;
  border-top: solid 15px #86775F;
  border-bottom: solid 15px #86775F;
  font-size: 10pt;
  margin: 5px 0px 5px 0px;
  padding: 75px;
}

/* .cart_roll_holder, .product_image.cart_image {
  width: 150px;
}

.cart_roll_figure {
  margin:0px 0px 0px 0px;
}

.price_cart_text {
  font-weight: 900;
}

.remove_button {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  text-decoration: underline;
  font-size: 10pt;
} */
 */

/* .cart_caption {
  font-size: 20px;
} */

/* .product_image.cart_image {
  width: 200px;
} */
/* .cart_figure {
  width: 200px;
} */

.search_filter_container {
display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: flex-start;
 margin: 30px 50px 20px 50px;
 background-color: yellow;
}

.search_bar {
  /* width: 100%; */
  background-color: blue;
  /* padding: 10px; */
  margin: 0px 0px 0px 0px;
  /* display: flex; */
}

.text_bar {
  width: 350px;
  background-color: purple;
}

.filter_text {
  padding: 5px 5px 5px 5px;
}


.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rollcard-list {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  /* padding: 75px 0px 0px; */
  margin: 0px 0px 0px;
}